APP_NAME=Shadcn Page Collector
NATIVE_HOST_NAME=dev.cosinn.page_collector
EXTENSION_PUBLIC_KEY=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAs6XJdOYs/cVBdq+x2vcJp7ssdQL901RPxQia2NQD4OWhSwgrDU/N7bAubPahtLRg3AUQ9Jsm9PLwNUObZBhVJYUPaDVSpweWupzPOO2HX9hpMBmjjt5g5wwMhye+Z6lj37W3QSBku1v40CNfdJ86uInzsI48fyGEso3omk/Nq6qlUXgOEVZWklDzRpnovLdPgGMBhuJueeJrgGw5Uvb1lprjtSoJta+27XL0dVH4gEbd0LtRGPUq8AMBsY1c46C1pjXIJ/gwBLZM9D56mi6xEwhLEXqgVnz3Lj3gE09hK0Ze9nEq4t4LrwznlQcfy+eKUm5sJZ7hqxl1QxshInjvXQIDAQAB
EXPORT_DIRECTORY=~/Documents/Page Collector
ALLOWED_HOST_PATTERN=*://*.shadcnblocks.com/*
DEFAULT_PROJECT=My Website
DEFAULT_PAGE=Landing Page
DEFAULT_ROUTE=/
CHROME_EXTENSIONS_URL=chrome://extensions
CHROME_APP_NAME=Google Chrome
